<h1>



</h1>
<a href="/logout"> logout </a>
<script src="/js/scripts.js"></script>

<div class="form-bottom">
    <form role="form" action="/test" role="form" method="post" class="login-form">
        <div class="form-group">
            <label class="sr-only" for="form-username">Email</label>
            <input type="text" name="test" required  placeholder="Email..." class="form-username form-control" id="email">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-username">Email</label>
            <input type="text" name="name" required  placeholder="Email..." class="form-username form-control" id="email">
        </div>
        <button type="submit" class="btn">Sign in!</button>
    </form>
</div>